/* Masquer le bouton Dialogflow par défaut */
df-messenger {
  display: none;
}

/* Styles pour le bouton personnalisé */
#custom-chat-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4CAF50; /* Couleur de fond */
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

#custom-chat-button img {
  width: 30px;
  height: 30px;
}
